table {
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
    color: rgb(255, 255, 255);
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #000000;
  }

  .table-container {
  padding-top: 56px;
}


.table-container {
  width: 100%;
  padding-top: 56px;
}

.ion-col {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

.table-header .ion-col {
  font-weight: bold;
}

.table-row:nth-child(odd) {
  background-color: #000000;
}

.table-row {
  border-bottom: 1px solid #000000;
}
