/* Ajoutez ce style dans votre fichier Tab1.css */

/* Style pour la table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: aqua;
  }
  
  /* Style pour les cellules de la table */
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* Style pour les lignes impaires (facultatif, pour une meilleure lisibilité) */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  